<!DOCTYPE html>
<html>
<head>
	<title>Integrantes del equipo docente</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Ayudantes</h1>
	<h2>Carlos Vega</h2>
	<h2>Catalina Martin</h2>
	<h2>Eduardo Valerio</h2>
	<h2>Juan Gutierrez</h2>
	<h2>Matias Rojas</h2>
	<h2>Nicolás Villa</h2>
	<h2>Sebastián Donoso</h2>	
	<h2>Sofia Herrera</h2>
	<h2>Victoria Arce</h2>
	<h1>Auxiliares</h1>
	<h2>JAviera Ovalle</h2>
	<h2>Jorge Pinto</h2>
	<h2>José Canto</h2>
	<h2>Macarena Osorio</h2>
	<h1>Profesores</h1>
	<h2>Angel Jimenez</h2>
	<h2>Ivan Díaz</h2>

	<a href="{% url 'pestaña' %}">Hola, soy un enlace a otra pestaña del proyecto</a>
	<a href="{% url 'index' %}">Hola, soy un enlace al index</a>

</body>
</html>